@charset "UTF-8";

div#content-wrap { width: 35%; background: #333; overflow: hidden; position: absolute; top:0; right:0; padding: 15px; z-index: 500;}
div#content-wrap::after { content: ""; display: block; clear: both;}
div.jcarousel { width: 47%; display: inline-block; overflow: hidden; float: left;}
div.jcarousel ul#songs { width: 20000em; position: relative;}
/*width: calc(245px - 30px); 위치에 따라 오디오 벼녁ㅇ*/
div.jcarousel ul#songs li.song { float: left; margin: 10px 15px; text-align: center; width: calc(245px - 30px);}
div.jcarousel ul#songs li.song p { color: white; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);}
div.jcarousel ul#songs li.song p.song-title { font-size: 16px; font-weight: 600; margin: 10px 0 5px;}
div.jcarousel ul#songs li.song p.song-artist { color: #b3b3b3; font-size: 12px; margin: 0;}
div#controls { color: white; display: inline-block; margin: 20px auto 0px; text-align: center; float: left; width: 30%;}
div#controls span { display: inline-block; font-size: 35px; vertical-align: middle;}
div#controls span i { cursor: pointer;}
div#sub-controls { display: inline-block; color: #999999; cursor: default; font-size: 14px; margin: 30px 0 0 25px; text-align: center; width:15%;float: left;}
div#sub-controls i.active { color: #fff;}
div#timeline { position: relative; margin: 100px auto 0px; width: 92.5%;}
div#timeline span { color: #b3b3b3; font-size: 7px; position: absolute; top: -20px;}
div#timeline span#current-time { left: 0;}
div#timeline span#total-time { right: 0;}
div#timeline div.slider { background-color: gray; border-radius: 2px; cursor: pointer; height: 2px; position: relative;width: 100%;}
div#timeline div.slider div.progress {  background-color: #fff; height: 100%;  pointer-events: none; position: absolute;width: 0;}
div#timeline div.slider div.progress div.pin { background-color: white; border-radius: 8px; height: 8px; position: absolute; pointer-events: all;right: -5px; top: -3px; width: 8px;}
div.menu { background: #444; box-sizing: border-box; display: block; height: 100%; padding: 0 20px; position: absolute; top: 100%; width: 100%; z-index: 10;}
div.menu.active {  top: 0;}
div.menu span.close-btn { color: #b3b3b3; cursor: pointer; display: block; font-size: 14px; margin: 5px auto 15px; padding: 0 8px 4px; text-align: center;  width: 50px;}
div.menu span.close-btn:hover { color: #e6e6e6;}
div.menu span.close-btn span {  font-size: 1.6em; position: relative; top: 3px;}
div.menu li { border-radius: 5px; cursor: pointer; font-weight: 300; margin-bottom: 4px; padding: 8px 5px;}
div.menu li:nth-child(1) {  margin-top: -8px;}
div.menu li:hover { background: #515151;}
div.menu li:hover .svg, div.menu li:hover i { opacity: 1;}
div.menu li .svg { display: inline-block; height: 14px; padding: 0 0.2em; position: relative; top: 2px; width: 14px;}
div.menu li .svg, div.menu li i { margin-right: 5px; opacity: 0.75;}
div.menu li i { position: relative; top: 1px;}
.material-symbols-sharp { font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48}



.fnc {}
.fnc-slider { overflow: hidden;  box-sizing: border-box;  position: relative; height: 100vh;}
.fnc-slider *, .fnc-slider *:before, .fnc-slider *:after { box-sizing: border-box;}
.fnc-slider__slides { position: relative;  height: 100%;  transition: transform 1s 0.6666666667s;}
.fnc-slider .m--blend-dark .fnc-slide__inner { background-color: #8a8a8a;}
.fnc-slider .m--blend-dark .fnc-slide__mask-inner { background-color: #575757;}
.fnc-slider .m--navbg-dark { background-color: #575757;}
.fnc-slide { overflow: hidden; position: absolute; left: 0; top: 0; width: 100%; height: 100%; transform: translate3d(0, 0, 0);}
.fnc-slide.m--before-sliding { z-index: 2 !important; transform: translate3d(100%, 0, 0);}
.fnc-slide.m--active-slide { z-index: 1; transition: transform 1s 0.6666666667s ease-in-out; transform: translate3d(0, 0, 0);}
.fnc-slide__inner { position: relative; height: 100%; background-size: cover; background-position: center top; transform: translate3d(0, 0, 0);}
.fnc-slide__inner, .fnc-slide__inner { background-blend-mode: luminosity;}
.m--before-sliding .fnc-slide__inner { transform: translate3d(-100%, 0, 0);}
.m--active-slide .fnc-slide__inner { transition: transform 1s 0.6666666667s ease-in-out; transform: translate3d(0, 0, 0);}
.fnc-slide__mask { overflow: hidden; z-index: 1; position: absolute; right: 60%; top: 15%; width: 50.25vh; height: 67vh; margin-right: -90px; clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0, 6vh 0, 6vh 61vh, 44vh 61vh, 44vh 6vh, 6vh 6vh);transform-origin: 50% 0; transition-timing-function: ease-in-out;}
.m--before-sliding .fnc-slide__mask { transform: rotate(-10deg) translate3d(200px, 0, 0);  opacity: 0;}
.m--active-slide .fnc-slide__mask { transition: transform 0.7s 1.2222222222s, opacity 0.35s 1.2222222222s; transform: translate3d(0, 0, 0); opacity: 1;}
.m--previous-slide .fnc-slide__mask { transition: transform 0.7s 0.3333333333s, opacity 0.35s 0.6833333333s; transform: rotate(10deg) translate3d(-200px, 0, 0); opacity: 0;}
.fnc-slide__mask-inner { z-index: -1; position: absolute; left: 50%; top: 50%; width: 100vw; height: 100vh; margin-left: -50vw; margin-top: -50vh; background-size: cover; background-position: center center; background-blend-mode: luminosity; transform-origin: 50% 16.5vh; transition-timing-function: ease-in-out;}
.m--before-sliding .fnc-slide__mask-inner {  transform: translateY(0) rotate(10deg) translateX(-200px) translateZ(0);}
.m--active-slide .fnc-slide__mask-inner { transition: transform 0.7s 1.2222222222s; transform: translateX(0);}
.m--previous-slide .fnc-slide__mask-inner { transition: transform 0.7s 0.3333333333s; transform: translateY(0) rotate(-10deg) translateX(200px) translateZ(0);}
.fnc-slide__content {  z-index: 2; position: absolute; left: 40%; top: 40%;}
.fnc-slide__heading {  margin-bottom: 10px; text-transform: uppercase;}
.fnc-slide__heading-line {  overflow: hidden; position: relative; padding-right: 20px; font-size: 100px; color: #fff; word-spacing: 10px;}
.fnc-slide__heading-line:nth-child(2) { padding-left: 30px;}
.m--before-sliding .fnc-slide__heading-line { transform: translateY(100%);}
.m--active-slide .fnc-slide__heading-line { transition: transform 1.5s 1s; transform: translateY(0);}
.m--previous-slide .fnc-slide__heading-line { transition: transform 1.5s; transform: translateY(-100%);}
.fnc-slide__heading-line span { display: block; line-height: initial;}
.m--before-sliding .fnc-slide__heading-line span { transform: translateY(-100%);}
.m--active-slide .fnc-slide__heading-line span { transition: transform 1.5s 1s; transform: translateY(0);}
.m--previous-slide .fnc-slide__heading-line span { transition: transform 1.5s; transform: translateY(100%);}
.fnc-slide__action-btn { position: relative; margin-left: 200px; padding: 5px 15px;  font-size: 20px; line-height: 1; color: transparent;  border: none; text-transform: uppercase; background: transparent;  cursor: pointer; text-align: center;  outline: none;}
.fnc-slide__action-btn span { position: absolute;  left: 0; top: 0; width: 100%;  height: 100%; perspective: 1000px; transform-style: preserve-3d;  transition: transform 0.3s; transform-origin: 50% 0;  line-height: 30px; color: #fff;}
.fnc-slide__action-btn span:before {  content: "";  position: absolute;  left: 0;  top: 0;  width: 100%;  height: 100%;  border: 2px solid #fff;  border-top: none;  border-bottom: none;}
.fnc-slide__action-btn span:after {  content: attr(data-text);  position: absolute;  left: 0;  top: 0;  width: 100%;  height: 100%;  line-height: 30px;  background: #1F2833;  opacity: 0;  transform-origin: 50% 0;  transform: translateY(100%) rotateX(-90deg);  transition: opacity 0.15s 0.15s;}
.fnc-slide__action-btn:hover span { transform: rotateX(90deg);}
.fnc-slide__action-btn:hover span:after {  opacity: 1;  transition: opacity 0.15s;}
.fnc-nav {  z-index: 5; position: absolute; right: 0; bottom: 0;}
.fnc-nav__bgs {  z-index: -1;  overflow: hidden;  position: absolute;  left: 0;  top: 0;  width: 100%;  height: 100%;}
.fnc-nav__bg {  position: absolute;  left: 0;  top: 0;  width: 100%;  height: 100%;}
.fnc-nav__bg.m--nav-bg-before {  z-index: 2 !important;  transform: translateX(100%);}
.fnc-nav__bg.m--active-nav-bg {  z-index: 1;  transition: transform 1s 0.6666666667s;  transform: translateX(0);}
.fnc-nav__controls { font-size: 0;}
.fnc-nav__control { overflow: hidden;  position: relative; display: inline-block;  vertical-align: top; width: 150px;  height: 50px; font-size: 14px;  color: #fff; text-transform: uppercase;  background: transparent; border: none; outline: none;  cursor: pointer; transition: background-color 0.5s;}
.fnc-nav__control.m--active-control { background: #1F2833;}
.fnc-nav__control-progress {  position: absolute;  left: 0;  bottom: 0;  width: 100%;  height: 2px;  background: #fff;  transform-origin: 0 50%;  transform: scaleX(0);transition-timing-function: linear !important;}
.m--with-autosliding .m--active-control .fnc-nav__control-progress {transform: scaleX(1);}
.m--prev-control .fnc-nav__control-progress { transform: translateX(100%);  transition: transform 0.5s !important;}
.m--reset-progress .fnc-nav__control-progress { transform: scaleX(0);  transition: transform 0s 0s !important;}
.m--autosliding-blocked .fnc-nav__control-progress {  transition: all 0s 0s !important;transform: scaleX(0) !important;}

/* NOT PART OF COMMON SLIDER STYLES */
body {  margin: 0;}

.demo-cont {  overflow: hidden;  position: relative;  height: 100vh;  perspective: 1500px;  background: #000;}
.credits-active {  transition: transform 0.7s 0.2333333333s; transform: translate3d(0, 0, 0);}

.example-slider {  z-index: 2;  transform: translate3d(0, 0, 0);  transition: transform 0.7s;}
/*
.credits-active .example-slider {  transform: translate3d(-400px, 0, 0) rotateY(10deg) scale(0.9);}
*/
.example-slider .fnc-slide-1 .fnc-slide__inner,
.example-slider .fnc-slide-1 .fnc-slide__mask-inner { background-image: url("/myspacecw/resources/img/portpolio/porSlideMain3.png");}
.example-slider .fnc-slide-2 .fnc-slide__inner,
.example-slider .fnc-slide-2 .fnc-slide__mask-inner {  background-image: url("/myspacecw/resources/img/portpolio/porSlideMain2.png");}
.example-slider .fnc-slide-3 .fnc-slide__inner:before {  content: "";  position: absolute;  left: 0;  top: 0;  width: 100%;  height: 100%;  background: rgba(255, 255, 255, 0.1);}
.example-slider .fnc-slide-4 .fnc-slide__inner,
.example-slider .fnc-slide-4 .fnc-slide__mask-inner {  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/thor.jpg");}
.example-slider .fnc-slide-4 .fnc-slide__inner:before {  content: "";  position: absolute;  left: 0;  top: 0;  width: 100%;  height: 100%;  background: rgba(0, 0, 0, 0.2);}
.example-slider .fnc-slide__heading,
.example-slider .fnc-slide__action-btn,
.example-slider .fnc-nav__control {  font-family: "Open Sans", Helvetica, Arial, sans-serif;}

/* COLORFUL SWITCH STYLES 
   ORIGINAL DEMO - https://codepen.io/suez/pen/WQjwOb */
.colorful-switch {  position: relative;  width: 180px;  height: 77.1428571429px;  margin: 0 auto;  border-radius: 32.1428571429px;  background: #cfcfcf;}
.colorful-switch:before {  content: "";  z-index: -1;  position: absolute;  left: -5px;  top: -5px;  width: 190px;  height: 87.1428571429px;  border-radius: 37.1428571429px;  background: #314239;  transition: background-color 0.3s;}
.colorful-switch:hover:before {  background: #4C735F;}
.colorful-switch__checkbox { z-index: -10; position: absolute; left: 0; top: 0; opacity: 0;}
.colorful-switch__label {  z-index: 1;  overflow: hidden;  position: absolute;  left: 0;  top: 0;  width: 100%;  height: 100%;  border-radius: 32.1428571429px;  cursor: pointer;}
.colorful-switch__bg { position: absolute; left: 0;  top: 0;  width: 540px;  height: 100%;  background: linear-gradient(90deg, #14DCD6 0, #10E7BD 180px, #EF9C29 360px, #E76339 100%);transition: transform 0.5s;  transform: translate3d(-360px, 0, 0);}
.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__bg {  transform: translate3d(0, 0, 0);}
.colorful-switch__dot {  position: absolute;  left: 131.1428571429px;  top: 50%;  width: 5.1428571429px;  height: 5.1428571429px;  margin-left: -2.5714285714px;  margin-top: -2.5714285714px;  border-radius: 50%; background: #fff;  transition: transform 0.5s;  transform: translate3d(0, 0, 0);}
.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__dot { transform: translate3d(-80.3571428571px, 0, 0);}
.colorful-switch__on {  position: absolute;  left: 104.1428571429px;  top: 22.5px;  width: 19.2857142857px;  height: 36px;  transition: transform 0.5s;transform: translate3d(0, 0, 0);}
.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__on { transform: translate3d(-80.3571428571px, 0, 0);}
.colorful-switch__on__inner { position: absolute;  width: 100%;  height: 100%;  transition: transform 0.25s 0s cubic-bezier(0.52, -0.96, 0.51, 1.28); transform-origin: 100% 50%;  transform: rotate(45deg) scale(0) translateZ(0);}
.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__on__inner { transition: transform 0.25s 0.25s cubic-bezier(0.67, -0.16, 0.47, 1.61); transform: rotate(45deg) scale(1) translateZ(0);}
.colorful-switch__on__inner:before, .colorful-switch__on__inner:after { content: "";  position: absolute;  border-radius: 2.5714285714px; background: #fff;}
.colorful-switch__on__inner:before { left: 0;  bottom: 0; width: 100%; height: 6.1428571429px;}
.colorful-switch__on__inner:after { right: 0; top: 0; width: 6.1428571429px; height: 100%;}
.colorful-switch__off {  position: absolute;  left: 131.1428571429px;  top: 50%;  width: 41.1428571429px;  height: 41.1428571429px;  margin-left: -20.5714285714px;  margin-top: -20.5714285714px;  transition: transform 0.5s;  transform: translate3d(0, 0, 0);}
.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off {  transform: translate3d(-80.3571428571px, 0, 0);}
.colorful-switch__off:before, .colorful-switch__off:after {  content: ""; position: absolute; left: 0; top: 50%; width: 100%; height: 5.1428571429px; margin-top: -2.5714285714px; border-radius: 2.5714285714px; background: #fff; transition: transform 0.25s 0.25s;}
.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off:before, .colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off:after {transition-delay: 0s;}
.colorful-switch__off:before { transform: rotate(45deg) scaleX(1) translateZ(0);}
.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off:before { transform: rotate(45deg) scaleX(0) translateZ(0);}
.colorful-switch__off:after {  transition-timing-function: cubic-bezier(0.67, -0.16, 0.47, 1.61);  transform: rotate(-45deg) scaleX(1) translateZ(0);}
.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__off:after {  transition-timing-function: ease;  transform: rotate(-45deg) scaleX(0) translateZ(0);}



/****************************************portpolio List*/
.sec2Tit, .sec2Tit2 { text-transform:uppercase; text-align:center; font-size: 70px; font-weight: bold; transform: translateY(-50%); overflow:hidden; color:#fff;}
.sec2Tit > span, .sec2Tit2 > span {height: 100%; display: block; margin: 0 10%; width: 50%; position: relative;}
.sec2Tit2 > span { margin: 30% 10% 0% 30%; }
.sec2Tit > span > span, .sec2Tit2 > span > span {display: inline-block; position: absolute; text-shadow: 10px 15px 30px rgba(255,255,255,0.2);}
.sec2Tit > span > span:nth-of-type(1) {	left: 0;z-index: 1;}
.sec2Tit > span > span:nth-of-type(2){ left: 25px; z-index: 2; animation: animate 3s linear alternate infinite;}
.sec2Tit > span > span:nth-of-type(3){left: 55px; z-index: 1;}
.sec2Tit > span > span:nth-of-type(4){left: 100px;z-index: 3; animation: animate 3s linear alternate-reverse infinite;}
.sec2Tit > span > span:nth-of-type(5){left: 120px;z-index: 1;}
.sec2Tit > span > span:nth-of-type(6) {left: 150px; z-index: 2; animation: animate 3s linear alternate infinite;}
.sec2Tit > span > span:nth-of-type(7) {left: 190px; z-index: 3;}
.sec2Tit2 > span > span:nth-of-type(1){ left: 0px; z-index: 1; animation: animate 3s linear alternate infinite;}
.sec2Tit2 > span > span:nth-of-type(2){left: 30px; z-index: 2;}
.sec2Tit2 > span > span:nth-of-type(3){	left: 40px; z-index: 1; animation: animate 3s linear alternate-reverse infinite;}
.sec2Tit2 > span > span:nth-of-type(4){left: 70px; z-index: 3;}


.secSlide { font-size:25px; position: relative; height: 850px; padding: 200px 0px 0px; background: linear-gradient(56deg, #292a2f 41%, #131519 20%);}
.secSlide .slideBox { text-align:center;}
.secSlide .slideBox .slick-list { box-sizing:border-box;}
.secSlide .slideBox .slider-item {max-width:690px; position:relative;}
.secSlide .slideBox .slider-item .img-box > img { transform-origin:50% 50%; transform:scale(0.88); transition:transform .5s linear;}

/*slide btn*/
.secSlide .slideBox .slick-arrow {z-index:10; top:185px; width:50px; height:60px;}
.secSlide .slideBox .slick-prev {left:259px;}
.secSlide .slideBox .slick-next {right:259px;left:auto;}
.secSlide .slideBox .slick-arrow::before {display:block; width:14px; height:26px; margin:0 auto; color: #000; font-size: 24px;}


.secSlide .slideLfBox {position: absolute; left: 3%; top: 41%; width: 23%; z-index: 1000;}
.secSlide .slideBox {width: 70%; float: right;}
.secSlide .slideBox .slider-item {border : 1px solid #5b5959; vertical-align: top; height: 65vh; font-size: 1.5vw; color: white; white-space: normal; word-break: break-word;}
.secSlide .slideBox .slider-item .prjNum {  position: absolute;top: 2em;left: 2em;font-size: 1.5vw; color: #fff; z-index: 200;filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.5));}
.secSlide .slideBox .slider-item .prjBox {  position: absolute; bottom: 2em; left: 2em; right: 2em;}
.secSlide .slideBox .slider-item .prjDate { font-weight: 100;  margin-bottom: 1.5em;  transition-delay: 60ms; font-size: 1.2rem;}
.secSlide .slideBox .slider-item .prjTit { font-size: 1.1em;  line-height: 1.2em;  word-break: keep-all;}
.secSlide .slideBox .slider-item .prjView {  display: inline-block; background: #fff; padding: 0.5em 1.25em; font-size: 1.33em; width: 100%; opacity: 0; position: absolute; left: 0; bottom: -2em; pointer-events: none; transition-delay: 25ms;}
.secSlide .slideBox .slider-item .prjDate, .secSlide .slideBox .slider-item .prjTit { position: relative; bottom: 0;  cursor: default;}

.secSlide .slideBox .slider-item .prjNum, .secSlide .slideBox .slider-item .prjNum:before, .secSlide .slideBox .slider-item .prjNum:after {vertical-align: middle;}
.secSlide .slideBox .slider-item .prjNum:before, .secSlide .slideBox .slider-item .prjNum:after { display: inline-block; content: ""; height: 0.133em;  margin-top: -0.2em; background: white;}
.secSlide .slideBox .slider-item .prjNum:before {  width: 0; margin-left: 0;}
.secSlide .slideBox .slider-item .prjNum:after { width: 3em; margin-left: 1em;}
.secSlide .slideBox .slider-item .secSlide .slideBox .slider-item .prjNum:before, .secSlide .slideBox .slider-item .prjNum:after,
.secSlide .slideBox .slider-item .prjDate, .secSlide .slideBox .slider-item .prjTit, .secSlide .slideBox .slider-item .prjView{ transition: 375ms cubic-bezier(0.7, 0, 0.3, 1);}
.secSlide .slideBox .slider-item:hover .prjNum:before, .secSlide .slideBox .slider-item:hover .prjNum:after,
.secSlide .slideBox .slider-item:hover .prjDate, .secSlide .slideBox .slider-item:hover .prjTit,
.secSlide .slideBox .slider-item:hover .prjView{ transition: 500ms cubic-bezier(0.7, 0, 0.3, 1); z-index: 200;}
.secSlide .slideBox .slider-item.hover .prjNum:before, .secSlide .slideBox .slider-item:hover .prjNum:before { width: 3em; margin-right: 1em;}
.secSlide .slideBox .slider-item.hover .prjNum:after, .secSlide .slideBox .slider-item:hover .prjNum:after {width: 0;  margin-right: 0;}
.secSlide .slideBox .slider-item.hover .prjDate1, .secSlide .slideBox .slider-item:hover .prjDate1 { transition-delay: 0; bottom: 1em;}
.secSlide .slideBox .slider-item.hover .prjDate2, .secSlide .slideBox .slider-item:hover .prjDate2 { transition-delay: 0; bottom: 0.2em;}
.secSlide .slideBox .slider-item.hover .prjDate3, .secSlide .slideBox .slider-item:hover .prjDate3 { transition-delay: 0; bottom: -2em;}
.secSlide .slideBox .slider-item.hover .prjTit, .secSlide .slideBox .slider-item:hover .prjTit {transition-delay: 100ms;  bottom: 4.7em;}
.secSlide .slideBox .slider-item.hover .prjView, .secSlide .slideBox .slider-item:hover .prjView { bottom: 0; opacity: 1; transition-delay: 250ms;  pointer-events: auto;}
.slideDim {opacity: 0; position: absolute; z-index: 100; top: 0; left: 0;}
.secSlide .slideBox .slider-item:hover .slideDim{content: "";  display: block;  background: linear-gradient(180deg, rgba(73, 73, 73, 0) 0%, rgba(15, 15, 15, 0.7) 100%);  opacity: 1; position: absolute;  top: 0; left: 0; right: 0; bottom: 0;}
  

/**************contact*/

.secContact {padding-top:150px; height:850px; position: relative; background: linear-gradient(56deg, #292A2F 68.4%, #131519 20%); z-index: -2;}
.secContact .maileBox {margin: 0 auto; color : #fff;}
.secContact .maileBox { position: relative; width: 60vw; height: 40vw; color: #252B37; background-color: #151823;}
.secContact .maileBox:after { position: absolute; content: ""; top: -2vw; left: -14%; right: 0; z-index: -1; height: 114%; width: 129%; margin: 0 auto; transform: scale(0.75); -webkit-filter: blur(5vw); -moz-filter: blur(5vw); -ms-filter: blur(5vw); filter: blur(5vw); background: linear-gradient(270deg, #0fffc1, #7e0fff); background-size: 200% 200%; animation: animateGlow 10s ease infinite;}
.secContact .maileBox button { animation: textColor 10s ease infinite;}

maileBoxTit {width:100%; text-align:center;}
.contactTit {font-size:50px; color:#fff; text-align:center; display: block; padding: 50px 0;}
form.gform .form-elements {width:80%; margin : 0 auto; font-size: 0;}
form.gform label, .pure-form .pure-group input {display: inline-block;}
form.gform label {width: 200px; margin-bottom:20px; color: #fff; font-size: 20px; font-weight:bold;}
.pure-form .pure-group input, .pure-form .pure-group textarea {coclor:#000; font-size:15px;}
.pure-form .pure-group input {width:60%;}
.pure-form input[type=email] {vertical-align: unset;}
form.gform fieldset {display:inline-block; width : 50%; margin:0; padding:0;}
form.gform fieldset.madieField {display:block; width: 100%;}
form.gform fieldset.madieField label {margin-top:40px;}
form.gform fieldset textarea {width: 100%;}
.button-success {width: 16%; width: 16%; height: 50px; font-size: 18px; margin: 0 auto; display: block;  margin-top: 15px; border-radius: 10px; background: #fff;  padding: 0em 0em; }


@media (max-width:800px){
  .fnc-nav {width:100%;}
  .fnc-nav__control {width:50%; height: 150px; font-size: 45px;}  
  .secSlide .slideBox .slick-arrow {top:13vw; width:3.5vw; height:4.1vw;}
  .secSlide .slideBox .slick-prev { left:18vw;}
  .secSlide .slideBox .slick-next { right:18vw;}
  .secSlide .slideBox {width: 85%;}
  .secSlide .slideBox .slider-item {height: 13vh;}
}

@media (max-width:620px) {
	div#content-wrap {width:100%;}
	div.jcarousel ul#songs li.song { width: calc(180px - 30px);}
	div#sub-controls { margin: 23px 0 0 20px;}
	div#controls span {font-size: 30px;}
	.fnc-slider {height: 93.8vh;}
	.fnc-nav{left:0;}
	.fnc-nav__bgs {  z-index: -1;  overflow: hidden;  position: absolute;  left: 0;  top: 0;  width: 100%;  height: 100%;}
	.fnc-slide__mask {top: 0%; height: 80vh}
	.fnc-slide__content {left: 0%; top: 35%; width:100%; text-align:center;}
	.fnc-slide__heading-line {padding-right:0px;}
	.fnc-slide__heading-line span { font-size: 4rem;}
	.fnc-slide__heading {margin-bottom: 100px;}
	.fnc-slide__action-btn {margin-left: 0px; font-size:30px}
	.fnc-slide__action-btn span {line-height:35px}
	.fnc-slide__action-btn span:after {line-height:35px}
	.fnc-nav {width:100%;}
  	.fnc-nav__control {width:50%; height: 80px; font-size: 26px;}
  	.secSlide {height: 900px; padding: 55% 0px 0px; background: linear-gradient(77deg, #292a2f 39%, #131519 20%);}
  	.secSlide .slideLfBox { left: 19%; top: 12%;}
  	.secSlide .slideBox {width: 100%;}
  	.secSlide .slideBox .slider-item .prjNum {font-size: 4.5vw;}
  	.secSlide .slideBox .slider-item .prjDate1 {font-size: 2rem;}
  	.secSlide .slideBox .slider-item .prjDate2 {font-size: 2rem;}
  	.secSlide .slideBox .slider-item .prjDate3 {font-size: 2rem;}
  	.secSlide .slideBox .slider-item {height: 55vh;}
  	.sec2Tit, .sec2Tit2 {font-size: 50px;}
  	.sec2Tit > span > span:nth-of-type(2){left: 32px;}
  	.sec2Tit > span > span:nth-of-type(3){left: 70px;}
  	.sec2Tit > span > span:nth-of-type(4){left: 120px;}
  	.sec2Tit > span > span:nth-of-type(5){left: 145px;}    
  	.sec2Tit > span > span:nth-of-type(6){left: 178px;}  
  	.sec2Tit > span > span:nth-of-type(7){left: 220px;}
  	.sec2Tit2 > span { margin: 50% 10% 0% 80%;}
	.sec2Tit2 > span > span:nth-of-type(2) {left: 38px;}
	.sec2Tit2 > span > span:nth-of-type(3) {left: 69px;}
	.sec2Tit2 > span > span:nth-of-type(4) {left: 108px;}
	.secSlide .slideBox .slider-item {border :none;}
	.secSlide .slideBox .slider-item .prjTit {font-size: 4.1em;}
	.secSlide .slideBox .slider-item .prjView {font-size: 4.33em;}
	.secSlide .slideBox .slider-item.hover .prjTit, .secSlide .slideBox .slider-item:hover .prjTit {transition-delay: 100ms;  bottom: 7.7em;}
	.secSlide .slideBox .slider-item.hover .prjDate1, .secSlide .slideBox .slider-item:hover .prjDate1 { transition-delay: 0; bottom: 2em;}
	.secSlide .slideBox .slider-item.hover .prjDate2, .secSlide .slideBox .slider-item:hover .prjDate2 { transition-delay: 0; bottom: 1.2em;}
	.secSlide .slideBox .slider-item.hover .prjDate3, .secSlide .slideBox .slider-item:hover .prjDate3 { transition-delay: 0; bottom: 1em;}
	.secContact {padding-top: 58px; background: linear-gradient(79deg, #292A2F 70.4%, #131519 20%);}
	.secContact .maileBox { width: 89vw; height: 178vw;}
	.button-success { width: 100%; margin-top: 30px;}
	.pure-form input[name=name] {width:100%}
	.pure-form input[name=email] {width:100%}
}
@keyframes animate { 0%{transform:translateY(10px);} 100%{transform:translateY(-10px);}}
@keyframes textColor { 0% { color: #7e0fff;} 50% { color: #0fffc1;}  100% {color: #7e0fff;}}




